<table summary="Characteristics form fields">
  <tr>
    <th><%= f.label(:price,"Price")%></th>
    <td><%= f.text_field(:price)%></td>
  </tr>
  <tr>
    <th><%= f.label(:color,"Color")%></th>
    <td><%= f.text_field(:color)%></td>
  </tr>
  <tr>
    <th><%= f.label(:size,"Size")%></th>
    <td><%= f.text_field(:size)%></td>
  </tr>
  <tr>
    <th><%= f.label(:image) %></th>
    <td><%= f.text_field(:image) %></td>
  </tr>
</table>
