<%= link_to("New Characteristic" , new_product_characteristic_path(@product_slug)) %>
<table class="listing" summary="Product Characteristics list">
  <tr class="header">

    <th>Price</th>
    <th>Color</th>
    <th>Size</th>
    <th>Image</th>
    <th>Slug</th>
    <th>Actions</th>
  </tr>
  <% @product_characteristics.each do |product| %>
  <tr class="">
    <td>$<%= product.price %></td>
    <td><%= product.color %></td>
    <td><%= product.size %></td>
    <td><%= product.image %></td>
    <td><%= product.slug %></td>
    <td class="actions">
      <%= link_to("Show", product_characteristic_path(@product_slug,product.slug), :class => 'action show') %>
      <%= link_to("Edit", edit_product_characteristic_path(@product_slug,product.slug), :class => 'action edit') %>
      <%= link_to("Delete",delete_product_characteristic_path(@product_slug,product.slug), :class => 'action delete') %>
    </td>
  </tr>
  <% end %>
</table>
