<table summary="Product Characteristics form fields">
  <tr>
    <th>Price</th>
    <td><%= @product_characteristics.price %></td>
  </tr>
  <tr>
    <th>Color</th>
    <td><%= @product_characteristics.color %></td>
  </tr>
  <tr>
    <th>Size</th>
    <td><%= @product_characteristics.size %></td>
  </tr>
  <tr>
    <th>Image</th>
    <td><%= @product_characteristics.image %></td>
  </tr>
  <tr>
    <th>Slug</th>
    <td><%= @product_characteristics.slug %></td>
  </tr>
</table>
