<%  total_price = 0 %>
<h1>Shopping Cart</h1>
<table class="listing" summary="Product list">
  <tr class="header">
    <th>#</th>
    <th>Model Name</th>
    <th>Size</th>
    <th>Quantity</th>
    <th>Color</th>
    <th>Price</th>
    
  </tr>
  <% @products.each_with_index do |product , key| %>
  <tr class="">
    <td><%= key+1 %></td>
    <td><%= product["product"].product.mod_name %></td>
    <td><%= product["product"].size %></td>
    <td><%= product["quantity"] %></td>
    <td><%= product["product"].color %></td>
    <td><%= product["product"].price * product["quantity"].to_f  %></td>
    <% total_price = total_price + product["product"].price * product["quantity"].to_f %>   
  </tr>
  <% end %>
  </table>
  <table class="actions" summary="actions">
  <tr class="">
    <td></td>
    <td></td>
   
    <td><%= link_to("Continue Shopping", {:action => 'index'}, :class => 'action index') %></td>
    <td><%= link_to("Checkout", '#' , :class => 'action index') %></td>
    <td>Total Price</td>
    <td><%= total_price %> </td>
    
  </tr>
</table>