<%  total_price = 0 %>
<h1>Shopping Cart</h1>
<table class="listing" summary="Product list">
  <tr class="header">
    <th>#</th>
    <th>Model Name</th>
    <th>Size</th>
    <th>Quantity</th>
    <th>Color</th>
    <th>Price</th>
    
  </tr>
  <% @products.each_with_index do |product , key| %>
  <tr class="">
    <td><%= key+1 %></td>
    <td><%= product.product.mod_name %></td>
    <td><%= product.size %></td>
    <td><%= product.quantity %></td>
    <td><%= product.color %></td>
    <td><%= product.price * product.quantity %></td>
    <% total_price = total_price + product.price * product.quantity %>   
  </tr>
  <% end %>
  <tr class="">
    <td></td>
    <td></td>
   
    <td><%= link_to("Continue Shopping", {:action => 'index'}, :class => 'action index') %></td>
    <td><%= link_to("Checkout", '#' , :class => 'action index') %></td>
    <td>Total Price</td>
    <td><%= total_price %> </td>
    
  </tr>
</table>