<%= link_to("Orders",{:controller=>'orders',:action=>'index'},:class=>'action index')%>
<table class="listing" summary="Order list">
  <tr class="header">
    
    <th>User</th>
    <th>Tracking No</th>
    <th>Total Price</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  <% @orders.each do |order| %>
  <tr class="">
    <td><%= order.customer.email %></td>
    <td><%= order.tracking_no %></td>
    <td><%= order.total_price %></td>
    <td><%= order.status ? "Published" : "Unpublished" %></td>
    <td class="actions">
 
      <%= link_to("Details", {:action => 'edit', :id => order.id}, :class => 'action edit') %>
      
    </td>
  </tr>
  <% end %>
</table>
