<%= link_to("New Product",{:action=>'new'},:class=>'action new')%>
<%= link_to("back to Main",{:controller=>'admin',:action=>'index'},:class=>'action index')%>

<table class="listing" summary="Product list">
  <tr class="header">
    <th>&nbsp;</th>
    <th>Model Name</th>
    <th>SKU</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  <% @products.each do |product| %>
  <tr class="">
    <td><%= product.position %></td>
    <td><%= product.mod_name %></td>
    <td><%= product.sku %></td>
    <% if product.status %>
    <td>Published</td>
    <% else %>
    <td>Unpublished</td>
    <% end %>
    <td class="actions">
      <%= link_to("Show", {:action => 'show', :slug => product.slug}, :class => 'action show') %>
      <%= link_to("Edit", {:action => 'edit', :slug => product.slug}, :class => 'action edit') %>
      <%= link_to("Delete", {:action => 'delete', :slug => product.slug}, :class => 'action delete') %>
    </td>
  </tr>
  <% end %>
</table>
