<%= link_to("Back to Products",{:action=>'index'},:class=>'action index')%>
<%= link_to("Characteristics",product_characteristics_path(@product.slug))%>
<table summary="Product form fields">
  <tr>
    <th>Model Name</th>
    <td><%= @product.mod_name %></td>
  </tr>
  <tr>
    <th>SKU</th>
    <td><%= @product.sku %></td>
  </tr>
  <tr>
    <th>Position</th>
    <td><%= @product.position %></td>
  </tr>
  <tr>
    <th>Status</th>
    <% if @product.status %>
    <td>Published</td>
    <% else %>
    <td>Unpublished</td>
    <% end %>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= @product.description %></td>
  </tr>
</table>
